@charset "utf-8";


:root{
  --color-black:#222;
}

body{
  font-family:'나눔 고딕', arial, sans-serif;
  font-size:16px;
  color:var(--color-black);
}
a{
  text-decoration:none;
  color:var(--color-black);
}















.hidden{
  display:none;
}
.flex{
  display:flex;
}
.grid{
  display:grid;
}